/** {
  border: 1px solid red;
}*/

html, body {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%; 
    height: 1200px;
    min-height: 100%;
}

.ngTopPanel {
  width: 100%;
  line-height: 25px;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
}

.ngGrid.unselectable {
  margin-top: 10px;
}

.panel-heading {
  height: 100px;
 }

 .navbar-header, .form-group {
  padding: 15px;
  margin-left: 50px;
  vertical-align: middle;
 }

